@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
}

#root div {
  width: 50vw;
  height: 50vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root div p {
  font-size: 32px;
}
#root div p span {
  font-size: 35px;
  color: red;
}